<h1> <%= display_musician_name @musician%> </h1>


    <th>Instrument</th>
    <td> <%= @musician.instrument %> </td>
  </tr>

<!-- <#%= link_to "Musicians", players_path %> -->
<%= link_to "Venues", venues_path %>
