<h1>Welcome to Jam with Friends</h1>

<h3>
  Here you will be able to find other musicians in your area who want to have a free-flowing jam session.
</h3>

<h3>
  Interested? Head over to our <a href="/sign_up">Sign Up</a> page!
</h3>