<div class="navbar">
  <div class="navbar-inner">
    <div class = "container">
      <a href="/about" class="brand"> Jam with Friends</a>
      <ul class="nav">
        <li><%= link_to "Musicians", musicians_path %></li>
        <li><%= link_to "Venues", venues_path %></li>
      </ul>
      <%- if logged_in? %>
      <ul class='nav'>
        <li class='push-right'><%= link_to "Logout (#{current_user.email})", log_out_path%> </li>
      </ul>
      <%- end %>
    </div>
  </div>
</div>
